# here is the env config 
# this is the base URL where your Express backend is running.
VITE_API_BASE_URL=http://localhost:5000/api

# nasa api key, generate one at https://api.nasa.gov/
VITE_NASA_API_KEY=your_nasa_api_key_here
